.memory {
  font-weight: bold;
}

.memory--red {
  composes: memory;
  color: rgb(25,25,200);
}

.memoryContainer {
  margin: 1em auto;
}

.memory-card-closed {
  //composes: memory;
  height: 100px;
  width: 100px;
  border: solid black 3px;
  background-color: orange;
  margin: 10px;
  border-radius: 6px;
  font-size: 60px;
  font-weight: bold;
}
